<h3>Number of events for this application: <%= @registered_application.events.count %></h3>
<div class="row">
  <div class="col-md-6">
<%= pie_chart @registered_application.events.group(:name).count %>
  </div>
</div>
<br>
<div class="col-md-6">
   <table class="table">
     <tr>
       <th>Name</th>
       <th>Created At</th>
      </tr>
    <% @events.order(:name, :created_at).each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.created_at %></td>
      </tr>
   <% end %>
 </table>
</div>

<div class ="col-md-8"
<%= line_chart @registered_application.events.group_by_week(:created_at, format: "%m %d, %Y").count, discrete: true %>
</div>
