<h1>Registered Applications for <%= "#{current_user.email}" %></h1>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
     <% @registered_applications.each do |app| %>
         <% if app.user == current_user %>
          <%= link_to app.name, app %><br>
          <small>There are <%= app.events.count %> events for this application.</small>
          <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
          <%= pie_chart app.events.group(:name).count %>
          <br><br>
     <% end %>
     <% end %>
     <br><br>
     <%= link_to "Add an application", new_registered_application_path, class: "btn btn-primary" %>
  </div>
</div>
